
.outerDivOfModal{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.innerDiv{
  width:500px;
  height:400px;
  background-color: white;
}


.uperDivProgressBar{
  background-color: cornflowerblue;
  height:20px;
  border-radius:10px;
}
.innerDivProgressBar{
    
    border-radius: 10px;
    height:100%;
}
